@using OnlineGallery.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using OnlineGallery.Data

@inject UserManager<ApplicationUser> userManager

@{
    var user = await userManager.GetUserAsync(Context.User);
}

<div class="user">
    <div class="thumb-area">
        <div class="thumb">
            @if (user.Image != null)
            {
                <img src="~/images/@user.Image" alt="user">
            }
            else
            {
                <img src="~/images/blank-avatar.jpg" alt="user">
            }
        </div>
        <label asp-for="@user.FileImage" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
        <form asp-action="SetImage" id="formImage" enctype="multipart/form-data">
            <input asp-for="@user.FileImage" class="d-none" accept="image/*">
        </form>
    </div>
    <div class="content">
        <h5 class="title">@user.FullName</h5>
    </div>
</div>

<script>
    document.getElementById('user_FileImage').onchange = function () {
        document.getElementById('formImage').submit();
    }
</script>