<div class="user">
    <div class="thumb-area">
        <div class="thumb">
            <img src="~/assets/images/dashboard/user.png" alt="user">
        </div>
        <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
        <input type="file" id="profile-pic" class="d-none">
    </div>
    <div class="content">
        <h5 class="title"><a href="#0">Percy Reed</a></h5>
        <span class="username"><a href="http://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="402a2f282e00272d21292c6e232f2d">[email&#160;protected]</a></span>
    </div>
</div>