@model OnlineGallery.Areas.Identity.Data.ApplicationUser

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <ul class="font-weight-bolder" style="list-style: none;">
            <li><span asp-validation-for="FullName" class="text-danger"></span></li>
            <li><span asp-validation-for="Email" class="text-danger"></span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditProfile" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label class="control-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}