@{ 
    ViewData["Title"] = "Success Registration";
}

<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
    <div class="container">
        <h2 class="text-success">Payment succesfully</h2>
        <br />
        <h4 class="text-white">
            Thank you for shopping. <br />Please wait for us to confirm. This can take up to 24 hours.
        </h4>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/assets/images/banner/banner-bg-1.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->