@{
    ViewData["Title"] = "FAQ";
}

<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home">Home</a>
            </li>
            <li>
                <span>FAQs</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/assets/images/banner/hero-bg.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Faq Section Starts Here =============-->
<section class="faq-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="section-header cl-white mw-100 left-style">
            <h2 class="title">FAQ</h2>
            <p>Do not hesitate to send us an email if you can't find what you're looking for.</p>
        </div>
        <div class="row mb--50">
            <div class="col-lg-8 mb-50">
                <div class="faq-wrapper">
                    <div class="faq-item open active">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">How to start bidding?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Just click on any ongoing auction, enter your desired valid price and start bidding.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">Security Deposit / Bidding Power </span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>All activities here are public and transparent, important information is strictly confidential.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">Delivery time to the destination port </span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>If you complete the product payment, you will receive a shipping process notification.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">How to register to bid in an auction?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Click register to create an account, after successful email verification, you can proceed with the auction.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">How will I know if my bid was successful?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>After clicking successful bid, you will see your bids as well as others's bids in the Bids History below.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">What happens if I bid on the wrong lot?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>You will either receive an error message from the system or be credited with that bid at that auction.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">How do I know if I won an item?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>All successful bidders can confirm their winning bid by checking the “Sbidu”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">How do I know if I'm the highest bidder?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>You will be the highest bidder to date if you are credited as the most recent successful bidder.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">Can I bid using my mobile device?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>You can use the browser on a mobile device.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">Where do I access my saved/favorite items?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Go to Dashboard, then click My Favorites, you will see all your saved/favorite items.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="~/assets/css/img/faq.png" alt="css"><span class="title">Cancellations and returns</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>When you're about to pay and you don't want to buy anymore, just leave. Besides, you can remove products from your cart.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-50">
                <aside class="sticky-menu">
                    <div class="faq-video mb-30">
                        <a href="https://www.youtube.com/watch?v=-h-mBZtkwkg" class="video-area popup">
                            <img src="~/assets/images/faq/video.png" alt="faq">
                            <div class="video-button-2">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fas fa-play"></i>
                            </div>
                        </a>
                        <h5 class="title">Watch Video Tour</h5>
                    </div>
                    <div class="popular-article pt-30 mb--20">
                        <h4 class="title mb-20">Most Popular Articles</h4>
                        <div class="popular-article-item">
                            <a href="#0" class="right-con"><i class="flaticon-right-arrow"></i></a>
                            <h5 class="title"><a href="#0">Tips for winning</a></h5>
                            <p>Found an item you love? Here are some tips for winning your next item:</p>
                        </div>
                        <div class="popular-article-item">
                            <a href="#0" class="right-con"><i class="flaticon-right-arrow"></i></a>
                            <h5 class="title"><a href="#0">How to bid at an Auction</a></h5>
                            <p>
                                Bidding at auction can be terrifying,
                                especially your first time.
                            </p>
                        </div>
                        <div class="popular-article-item">
                            <a href="#0" class="right-con"><i class="flaticon-right-arrow"></i></a>
                            <h5 class="title"><a href="#0">Bid increments</a></h5>
                            <p>
                                Each auction house sets their own
                                bidding increments
                            </p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!--============= Faq Section Ends Here =============-->