@model IEnumerable<OnlineGallery.Models.AuctionRecord>

@{
    ViewData["Title"] = "Record";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center"><i class="far fa-clipboard"></i>&ensp;@ViewData["Title"]</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>