@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
    <div class="container">
        <h2 class="text-white">@ViewData["Message"]</h2>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/assets/images/banner/banner-bg-1.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->
