@model IEnumerable<OnlineGallery.Models.ProductImage>

@{
    ViewData["Title"] = "Image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center"><i class="fas fa-images"></i>&ensp;@ViewData["Title"]</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>