@model IEnumerable<OnlineGallery.Areas.Identity.Data.ApplicationUser>

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center"><i class="fas fa-users"></i>&ensp;@ViewData["Title"]</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>