@using Microsoft.AspNetCore.Identity;
@using OnlineGallery.Areas.Identity.Data;

@inject UserManager<ApplicationUser> userManger

@{
    var user = await userManger.GetUserAsync(Context.User);
}

<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrapper">
                <ul class="customer-support">
                    <li>
                        <a href="#" class="mr-3"><i class="fas fa-phone-alt"></i><span class="ml-2 d-none d-sm-inline-block">Customer Support</span></a>
                    </li>
                </ul>
                <ul class="cart-button-area">
                    <li>
                        <a href="~/Home/Cart" class="cart-button">
                            <i class="flaticon-shopping-basket"></i>
                            @*<span class="amount" id="amount-in-cart">0</span>*@
                        </a>
                    </li>
                    @if (user == null)
                    {
                        <li>
                            <a href="~/Identity/Account/Login" class="text-white">Login</a>
                        </li>
                        <li>
                            <a href="~/Identity/Account/Register" class="text-white">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                                <input type="submit" class="text-white border-0 bg-transparent" value="Logout" />
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="~/Home">
                        <img src="~/assets/images/logo/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu ml-auto">
                    <li>
                        <a href="~/Home">Home</a>
                    </li>
                    <li>
                        <a href="~/Home/Product">Product</a>
                    </li>
                    <li>
                        <a href="~/Home/Auction">Auction</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact">Contact</a>
                    </li>
                    <li>
                        <a href="~/Home/AboutUs">About Us</a>
                    </li>
                    <li>
                        <a href="~/Home/FAQs">FAQs</a>
                    </li>
                    <li>
                        <a href="~/Dashboard">Dashboard</a>
                    </li>
                </ul>
                <form class="search-form">
                    <input type="text" placeholder="Search for brand, model....">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="search-bar d-md-none">
                    <a href="#0"><i class="fas fa-search"></i></a>
                </div>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<script>

</script>